<div class='container'>
  <% if logged_in? %>
    <h1>Welcome <%= @user.username.capitalize %></h1>
    <h4>Albums: </h4>
      <ul>
        <% @user.albums.each do |album| %>
          <li><a href='/albums/<%= album.id %>'><%= album.title %></li>
        <% end %>
      </ul>
  <% end %>
</div>
