<h1>Welcome to Our Page!</h1>

<!-- 
An index page listing all the posts
-->
<form action="/whatever" enctype="multipart/form-data" method="POST">
  <input type="file" name="filename">
  <input type="submit">
</form>

</div>
