<h1>Welcome to Our Page!</h1>

<!-- 
An index page listing all the posts

form is stubbed out to 1
-->
<form action="/albums/1" enctype="multipart/form-data" method="POST">
  <input type="file" name="image">
  <input type="submit">
</form>

</div>
